<div class="wrapper">
    <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/logo-telepon-png/telephone-icon-download-28.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        CRM
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="id" id="id" placeholder="Id" [(ngModel)]="operatorsLogged">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password" [(ngModel)]="inputPassword">
        </div>
    </form>
    <button class="btn btn-primary mt-3" (click)="login()">Login</button>
</div>